*{
  margin: 0; 
  /* we have a default margin of 10px */
  
}

.app{
  height: 10vh;
  background-color: #fafafa;
  
}
.app__header{
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding: 5px;
}

.app__headerImage{
  height: 47px;
  width: 79px;
}

.app__signup{
  display: flex;
  flex-direction: column;
  
}




